In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()

In [3]:
df

Empty DataFrame
Columns: []
Index: []

In [10]:
df1 = pd.DataFrame([[1,5,5],[522,85,5]])

In [11]:
df1

     0   1  2
0    1   5  5
1  522  85  5

In [12]:
df1.head(2)

     0   1  2
0    1   5  5
1  522  85  5

In [13]:
df1.tail(1)

     0   1  2
1  522  85  5