In [1]:
import pandas as pd

In [15]:
df = pd.DataFrame([[123,5,2,5,2],[52,5,2,5]],columns=["A",'B','C','D','E'])

In [16]:
df

     A  B  C  D    E
0  123  5  2  5  2.0
1   52  5  2  5  NaN

In [5]:
df.shape

(2, 5)

In [9]:
df.iloc[0:1,2:4]

   2  3
0  2  5