In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,52,52,65,45],[5,58,585,85]])

In [3]:
df.head()

   0   1    2   3     4
0  1  52   52  65  45.0
1  5  58  585  85   NaN

In [7]:
df.to_csv("export.csv",index=False)